header { 
    background-color: #3d5e8b; 
    /* display: flex; 
    flex-direction: column;  */
    padding: 40px; 
} 

/* h1 { 
    font-family: Helvetica;
    font-size: 48px; 
    font-weight: 800; 
    color: #F9FAF8; 
}   */

.h1-header { 
    font-family: Helvetica;
    font-size: 48px; 
    font-weight: 800; 
    color: #F9FAF8; 
}


.paragraph-description { 
    font-size:24px; 
    color: #E5E7EB; 
    text-align: left;
    width: 75%;
}



.h2-header { 
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    align-items: flex-end;
    font-size: 24px; 
    text-align: left; 
    color: #F9FAF8; 
}




.information-container { 
    text-align: center; 
    font-size: 36px; 
    font-weight: bolder
}    





.links { 
    display: flex; 
    flex-direction: row; 
    justify-content: flex-end; 
    gap: 20px;  
    font-size: 18px;  
} 

.picture { 
    display: flex;
    flex-direction: column; 
    justify-content: flex-end;
    align-items: flex-end;   
    height: 1em; 
    margin: 20px; 
} 

/* img {  
    /* float:right; */
     /* display: flex;  */
    /* flex-direction: column; 
    justify-content: flex-end; 
    align-items: center; */ 
    /* height: 300px; 
    width: 300px; 
    margin-left: 80em;  */ 
    


/* button { 
    border-style: none; 
    padding: 10px; 
    border-radius: 18%;
}  */

.request-info-btn {  
    color: white; 
    background-color: indigo ;  
    padding: 10px;  
    margin-left: 5em; 
    border-radius: 10%; 
} 


.quote { 
    background-color: #E5E7EB;
    padding: 120px; 
    font-size: 36px; 
    color: #1F2937; 
    font-style: italic;
} 

.quote-author { 
    font-size: 20px; 
    font-weight: bolder; 
    text-align: right; 
} 

.call-to-action { 
    background-color: #3d5e8b; 
    padding: 20px; 
    margin: 80px;  
} 

.sign-up-container { 
    display: flex;
    flex-direction: row;
    justify-content: flex-end; 
    align-items: center; 
    margin-right: 3em;
}

.sign-up-btn { 
    color: white; 
    background-color: indigo; 
    /* display: flex;  */
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10%;
} 


.call-to-action-header { 
    display: flex;
    color: white; 
    justify-content: flex-start;
    align-items: center;
}

.call-to-action-p { 
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    align-items: center;
    text-align: left; 
    color: white; 
}  


.footer { 
    display: flex; 
    justify-content: center;
    align-items: center;
    color: white; 
    background-color: #3d5e8b;
    height: 50px; 
} 


.flex-container { 
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 8em; 
    margin-bottom: 8em; 
    margin-left: 11em; 
} 
.text { 
    list-style: none; 
    margin: 5px; 
}

.approval-header { 
  display: flex;  
  flex-direction:row; 
  justify-content: flex-start; 
  align-items: flex-start;
} 


li { 
    margin: 5px; 
}

