header { 
    background-color: #3d5e8b; 
    /* display: flex; 
    flex-direction: column; */
} 

h1 { 
    font-family: Helvetica;
    font-size: 48px; 
    font-weight: 800; 
    color: #F9FAF8; 
} 

p { 
    font-size: 24px; 
    color: #E5E7EB
} 

h2 { 
    font-size: 24px; 
    color: #E5E7EB 
} 

a { 
    
} 

img { 
    height: 300px; 
    width: 300px; 
    margin-left: 40em; 
}

button { 
    /* display: flex; */
}